@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "reset";

@import "modules/swiper";
@import "modules/btn-arrow";
@import "modules/title-sub";
@import "modules/date";
@import "modules/time";
@import "modules/learn-more";

@import "blocks/header";
@import "blocks/main-block";
@import "blocks/universities";
@import "blocks/our-services";
@import "blocks/news";
@import "blocks/events";
@import "blocks/countries";
@import "blocks/testimonial";
@import "blocks/ready";
@import "blocks/footer";
