.ready {
    background: #f2f2f2;

    div {
        max-width: 1290px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 0 auto;
        padding: 90px 30px;

        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }

        .ready__title {
            margin: auto 0;

            text-align: center;

            font-family: Metropolis-Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 37px;
            line-height: 37px;

            color: #252525;

            @media (max-width: 1000px) {
                padding-bottom: 30px;
            }
        }
    }
}
